{
  "port"             : "",
  "webhookPort"      : "",
  "certFilename"     : "",
  "keyFilename"      : "",
  "clientID"         : "",
  "clientSecret"     : "",
  "cookieSecret"     : "",
  "oauthState"       : "",
  "packagePath"      : "",
  "mongoAddress"     : "",
  "gcmAPIKey"        : ""
}